<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="FacebookAppId" value="fsdqfdsfqsf"/>
  <add key="FacebookAppSecret" value="dfqsdfsqdfds" />
  <add key="GoogleAppId" value="sfmlsqflmsdflsdqf"/>
  <add key="GoogleAppSecret" value="gsgqsgqsgsfsfsqf" />
  <add key="MicrosoftAppId" value="fsdfmsdmfsdqdf"/>
  <add key="MicrosoftAppSecret" value="sfmlsdqfmqsdfq"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>